<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="entity.TestMapper" >
  <resultMap id="BaseResultMap" type="entity.Test" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MYTABLE.TEST
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MYTABLE.TEST
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="entity.Test" >
    insert into MYTABLE.TEST (ID, NAME) values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insert_seq" parameterType="entity.Test">
    <selectKey keyProperty="id" resultType="long" order="BEFORE">
  		select test_seq.nextval from dual
  	</selectKey>
  	insert into test(id,name) values(#{id,jdbcType=DECIMAL},#{name,jdbcType=VARCHAR})
  </insert>
  
  
  <insert id="insertSelective" parameterType="entity.Test" >
    insert into MYTABLE.TEST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Test" >
    update MYTABLE.TEST
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Test" >
    update MYTABLE.TEST
    set NAME = #{name,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>